
.categoria{
    background-color: #7AC3D8;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 0 0 0.5em 0.5em;
    display: flex;
    justify-content: space-between;
    h2{
        margin: auto 0;
        margin-left: 10px;
        font-size: 20px;
        font-weight: 500;
        text-transform: capitalize;
        width: 60%;
        white-space: nowrap;       /* Non andare a capo */
        overflow: hidden;          /* Nascondi il testo che esce */
        text-overflow: ellipsis;
    }
    .button-d{
        display: flex;
        button{
            border: none;
            background: none;
            transition: 0.2 ease;
            img{
                width: 20px;
                margin: 2.5px;
            }
        }
        button:hover{
            img{
                margin: 0;
                width: 25px;
            }
        }
    }
    
}
.categoria:hover{
    border: 1px solid gray;
}