
.categorie{
    display: flex;
    flex-direction: column;
    .new-b{
        border: 1px solid #93E8FF;
        color: white;
        background-color: #494949;
        margin: 20px auto;
        padding: 5px;
        width: 75%;
        font-size: 16px;
        border-radius: 5em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: 0.2s ease;
        font-family: "Quicksand", sans-serif;
        font-weight: bold;
    }
    .new-b:hover{
        width: 80%;
    }
    .esistenti{
        position: relative;
        width: 80%;
        margin: 10px auto 0 auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-radius: 0.5em;
        >*{z-index: 1;}
        .tutte{
            background-color: #7AC3D8;
            padding: 5px;
            border: 1px solid white;
            text-align: center;
            h2{
                margin: auto 0;
                margin-left: 10px;
                font-size: 20px;
                text-transform: capitalize;
                font-weight: 500;
            }
        }
        .tutte:hover{
            border: 1px solid gray;
        }
    }
}
.swal2-container{
    >*{
        >.swal2-html-container{
            margin-top: 20px;
        }
        >input{
            width: 50%;
            margin: 10px auto;
        }
        >.swal2-actions{
            gap: 50px;
            margin-top: 40px;
        }
    }
    
}